<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserTrackingUsageDescription</key>
	<string>We request tracking permission to enhance your experience when using providers. This allows us to securely manage your identity with these providers.</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.so.illustrate</key>
		<dict>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>Any</string>
			<key>NSUbiquitousContainerName</key>
			<string>Illustrate</string>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
